body {
  color: black;
  background-color: #bcced4;
  background-color: #d9e3e6;
}
svg.micircle {
  background-color: #d9e3e6;
}
circle.center {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}
path.arc {
  fill: white;
  stroke: #cbcbcb;
  stroke-width: 1px;
  transition: all 0.2s ease;
}
path.unknown {
  fill: #fdff7c;
  stroke: #cbcbcb;
  stroke-width: 1px;
}
path.link {
  stroke: #b7b3b3;
  fill: none;
  opacity: 0.5;
  stroke-width: 1px;
  transition: all 0.2s ease;
}
path.tick {
  stroke: black;
  stroke-width: 0.25px;
  fill: none;
}
div.pane {
  padding: 10px;
  background-color: white;
}
g.mute {
  opacity: 0.1;
}
path.mute {
  opacity: 0.1;
}
path.feature {
  fill: #15b7bf;
}
path.superfam {
  fill: #c900a0;
}
text.label {
  font-size: 1em;
}
circle.small-molecule {
  fill: white;
  stroke: #cbcbcb;
  stroke-width: 1px;
  transition: all 0.2s ease;
}
circle.control-point {
  fill: red;
  stroke: red;
  opacity: 0.6;
  stroke-width: 0px;
}
svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.jh-root,
.jh-type-object,
.jh-type-array,
.jh-key,
.jh-value,
.jh-root tr {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.jh-key,
.jh-value {
  margin: 0;
  padding: 0.2em;
}
.jh-empty-collection:before {
  content: '[]';
}
.jh-empty-map:before {
  content: '{}';
}
.jh-empty-set:before {
  content: '#{}';
}
.jh-empty-string:before {
  content: '""';
}
.jh-value {
  border-left: 1px solid #ddd;
}
.jh-type-bool,
.jh-type-number {
  font-weight: bold;
  text-align: center;
  color: #5286BC;
}
.jh-type-string {
  font-style: italic;
  color: #839B00;
}
.jh-type-date {
  font-style: italic;
  color: #839C00;
}
.jh-array-key {
  font-style: italic;
  font-size: small;
  text-align: center;
}
.jh-object-key,
.jh-array-key {
  color: #444;
  vertical-align: top;
}
.jh-type-object > tbody > tr:nth-child(odd),
.jh-type-array > tbody > tr:nth-child(odd) {
  background-color: #f5f5f5;
}
.jh-type-object > tbody > tr:nth-child(even),
.jh-type-array > tbody > tr:nth-child(even) {
  background-color: #fff;
}
.jh-type-object,
.jh-type-array {
  width: 100%;
  border-collapse: collapse;
}
.jh-root {
  border: 1px solid #ccc;
  margin: 0.2em;
}
th.jh-key {
  text-align: left;
}
.jh-type-object > tbody > tr,
.jh-type-array > tr {
  border: 1px solid #ddd;
  border-bottom: none;
}
.jh-type-object > tbody > tr:last-child,
.jh-type-array > tbody > tr:last-child {
  border-bottom: 1px solid #ddd;
}
.jh-type-object > tbody > tr:hover,
.jh-type-array > tbody > tr:hover {
  border: 1px solid #F99927;
}
.jh-empty {
  font-style: italic;
  color: #999;
  font-size: small;
}
